.navbar-text {
  display: inline-block;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 40px;
  font-weight: 620;
  padding-top: 1.5%;
  padding-bottom: 2%;
  color: black;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.nav-item{
  padding:1%;
}

.nav-link {
  display: block;
  padding-top: 45px;
  font-size: 16px;
  color: black;
}

a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
}

.pig-control{
    display:inline-block;
    position:absolute;
    top:17%;
    left:10%;
   
  }
