<!DOCTYPE html>
<html>
    <head>
        <title>
            Happy Bank
        </title>

        <%- include('head.ejs') %>

        <link href="/public/stylesheets/navstyle.css" rel="stylesheet">

        <style>

          @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

          .clock-control{
            display:inline-block;
            position:absolute;
            top:20%;
            left:35%;
          }

          #demo{
            color:rgb(155,89,182);
            
          }

          .text-control{
            display:inline-block;
            position:absolute;
            top:78%;
            left:25%;
            font-size:35px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight:600;
            color:black;
          }

        </style>
    </head>

  <body>

    <%- include('navstyle.html') %>

    <div class="vanish">

      <div class="clock-control"><img src="/public/images/clock.png" width="80%"></div>

      <div class="text-control">

        <%= username %> 님, D-day 까지 <span id="demo"></span> 남았습니다..

      </div>

    </div>

    <script type="text/javascript" src="/public/javascripts/dday.js"></script>
  </body>
  
</html>