<!DOCTYPE html>
<html>
  <head>
    <title><%= user[0].userId %>'s Money Box</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>Welcome, <%= user[0].userId %></p>
  </body>
</html>
