<!DOCTYPE html>
<html>
<head>
  <%- include('head.ejs') %>
</head>
<body>

  <h4 class="container mt-4"><strong>HAPPY BANK</strong></h4>
  <h4 class="container mt-4"><strong>Login</strong></h4>

  <div class="container mt-3">
    <form action="/auth/login" method="POST">
      <div class="form-group">
        <label>ID</label>
        <input type="text" 
        class="form-control" 
        name="userId"
         placeholder="아이디"
         required>
      </div>
      <div class="form-group">
        <label>PASSWORD</label>
        <input type="password" 
        class="form-control" 
        name="password"
        placeholder="비밀번호"
        required>
      </div>
      <button type="submit" class="btn btn-outline-secondary">로그인</button>
      <button type="button" class="btn btn-outline-secondary" onclick="location.href='/auth/signup' "
      >회원가입</button>
    </form>
  </div>

</body>
</html>