<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <!-- icon -->
    <script
      src="https://kit.fontawesome.com/da16af8a7a.js"
      crossorigin="anonymous"
    ></script>
    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Money Box</title>
  </head>

  <body>
    <h1 class="container mt-5">Happy bank</h1>
    <h4 class="container mt-5"><strong>회원가입</strong></h4>
    <div class="container mt-5">
      <form action="/auth/signup" method="POST">
        <div class="form-group">
          <label>아이디</label>
          <input
            type="text"
            placeholder="4~24자의 알파벳 또는 숫자의 조합"
            class="id_input"
            name="id"
            pattern="^(?=.*[A-Za-z0-9]).{4,24}$"
            required
            check_result="fail"
          />
          <button type="button" class="id_check_button btn btn-secondary">
            중복확인
          </button>
          <i
            class="fas fa-solid fa-check id_check_success"
            style="display: none"
          ></i>
          <p class="id_check_success" style="display: none">확인 완료</p>
        </div>
        <div class="form-group">
          <label>이메일</label>
          <input class="email_input" name="email1" type="text" required /> @
          <input class="email_input" name="email2" type="text" required />
          <select onChange="selectEmail(this)">
            <option value="1" selected>선택하세요</option>
            <option value="naver.com">naver.com</option>
            <option value="gmail.com">gmail.com</option>
            <option value="hanmail.net">hanmail.net</option>
            <option value="daum.net">daum.net</option>
            <option value="1">직접입력</option>
          </select>
        </div>
        <div class="container mt-5">
          <button type="submit" class="btn btn-primary">회원가입</button>
        </div>
      </form>
    </div>

    <script type="text/javascript" src="/public/javascripts/auth.js"></script>
  </body>
</html>
